{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Check your answers before sending your application
      </h1>

      <!-- only add a heading for a list if there is more than one list -->
      <h2 class="govuk-heading-m">
        Personal details
      </h2>


     <dl class="govuk-description-list govuk-description-list--tabular govuk-!-margin-bottom-9">
          <div class="govuk-description-list__group">
            <dt class="govuk-!-width-one-third">
              Name
            </dt>
            <dd>
              Sarah Philips
            </dd>
            <dd class="govuk-!-text-align-right">
              <a href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-description-list__group">
            <dt>
              Date of birth
            </dt>
            <dd>
              5 January 1978
            </dd>
            <dd class="govuk-!-text-align-right">
              <a href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>

          <div class="govuk-description-list__group">
            <dt>
              Home address
            </dt>
            <dd>
              72 Guild Street<br />
              London<br />
              SE23 6FH
            </dd>
            <dd class="govuk-!-text-align-right">
              <a href="#">
                Change<span class="govuk-visually-hidden"> home address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-description-list__group">
            <dt>
              Contact details
            </dt>
            <dd>
              07700 900457<br />
              sarah.phillips@example.com
            </dd>
            <dd class="govuk-!-text-align-right">
              <a href="#">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
        </dl>


      <h2 class="govuk-heading-m">
        Application details
      </h2>

      <dl class="govuk-description-list govuk-description-list--tabular govuk-!-margin-bottom-9">
          <div class="govuk-description-list__group">
            <dt class="govuk-!-width-one-third">
              Previous application number
            </dt>
            <dd>
              502135326
            </dd>
            <dd class="govuk-!-text-align-right">
              <a href="#">
                Change<span class="govuk-visually-hidden"> previous application number</span>
              </a>
            </dd>
          </div>

          <div class="govuk-description-list__group">
            <dt>
              Licence type
            </dt>
            <dd>
              For personal use
            </dd>
            <dd class="govuk-!-text-align-right">
              <a href="#">
                Change<span class="govuk-visually-hidden"> licence type</span>
              </a>
            </dd>
          </div>

          <div class="govuk-description-list__group">
            <dt>
              Home address
            </dt>
            <dd>
              72 Guild Street<br />
              London<br />
              SE23 6FH
            </dd>
            <dd class="govuk-!-text-align-right">
              <a href="#">
                Change<span class="govuk-visually-hidden"> home address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-description-list__group">
            <dt>
              Licence period
            </dt>
            <dd>
            This is a longer paragraph of text provided by the user to provide additional information.<br /><br />
            This is a second paragraph of text provided by the user.
            </dd>
            <dd class="govuk-!-text-align-right">
              <a href="#">
                Change<span class="govuk-visually-hidden"> licence period</span>
              </a>
            </dd>
          </div>
        </dl>

      <h2 class="govuk-heading-m">Now send your application</h2>

      <p>
        By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <a class="govuk-button" href="confirmation-page" role="button">
        Accept and send application
      </a>

    </div>
  </div>
{% endblock %}
