
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Missing styles and components prototype
      </h1>

    <p>
      The following new styles and components are intended to enable to us to more easily build full-page examples without the need for bespoke CSS.
    </p>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="description-list">Description lists</a>
      </li>
      <li>
        <a class="govuk-link" href="inline-list">Inline lists</a>
      </li>
      <li>
        <a class="govuk-link" href="override-classes">Right-aligned override class</a>
      </li>
    </ul>

    <p>
      With the above, we could build things like this:
    </p>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="check-your-answers-page">Check your answers page</a>
      </li>
      <li>
        <a class="govuk-link" href="task-list-page">Task list page</a>
      </li>
      <li>
        <a class="govuk-link" href="editable-list">Editable lists</a>
      </li>
    </ul>


    </div>
</div>

{% endblock %}
